.role {
  padding: 5px;
}
#select {
  margin-right: 10px;
}
.right {
  float: right;
}

.row-title {
  font-weight: 800;
  font-family: sans-serif;
  color: #183b5f;
}

.job-skill {
  margin-left: 15px;
}
